################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/cEngine/.vs
/bin
/bin-int
/cEngine.sln
/sandbox/sandbox.vcxproj
/sandbox/sandbox.vcxproj.filters
/sandbox/sandbox.vcxproj.user
/cEngine/cEngine.vcxproj
/cEngine/cEngine.vcxproj.filters
/cEngine/cEngine.vcxproj.user
